<%- include("partials/header"); -%>
<div class="form-signin">
  <h2>Contáctanos</h2>
  <p>¿Tienes dudas? ¿Necesitas ayuda?</p>
  <p>Si deseas hablar con nosotros puedes escribirnos a través de WhatsApp al telefóno (+57) 305 334 4329.</p>
</div>
<%- include("partials/footer"); -%>
