<%- include("partials/header"); -%>
<div class="form-signin">
  <h2>Tu usuario ya está registrado</h2>
  <p>Si deseas actualizar tus datos haz click en el botón.</p>
  <form action="/update" method="get">
    <button type="sumbit" name="button" class="btn btn-outline-secondary">Actualizar Datos</button>
  </form>
</div>
<%- include("partials/footer"); -%>
