<%- include("partials/header"); -%>
<div class="form-signin">
  <h1>¿Cómo funcionan los recordatorios?</h1>
  <br>
  <p>Es muy sencillo. Tu nos das tu nombre, tu telefono y la hora en que deseas recibir tu recordatorio diario. <br>Pasará lo siguiente:</p>
  <p>Te enviaremos un mensaje a través de WhatsApp a la hora indicada.</p>
  <ul>
    <li>Si contestas el mensaje con cualquier cosa entonces asumiremos que tomaste el medicamento.</li>
    <li>Si no contestas el mensaje en 10 min te llamaremos para recordartelo de nuevo.</li>
  </ul>
</div>
<%- include("partials/footer"); -%>
