<%- include("partials/header"); -%>
<div class="form-signin">
  <h2>Editar mi información</h2>
  <p>Si deseas editar tus datos o darte de baja ingresa los siguientes datos:</p>
  <form action="/login" method="post">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label for="validationDefault02" class="form-label">Código del país</label>
        <%- include("partials/country_codes"); -%>
      </div>
      <div class="col-md-6 col-sm-12">
        <label for="validationDefault03" class="form-label">Tu número celular</label>
        <input name="number" type="text" class="form-control" placeholder="ej: 3105554433" id="validationDefault03" required>
      </div>
    </div>
    <button type="sumbit" name="button" class="btn btn-outline-secondary">Ver mis datos</button>
  </form>
</div>
<%- include("partials/footer"); -%>
