<%- include("partials/header"); -%>
<div class="form-signin">
  <h2>Usuario no encontrado</h2>
  <p>Lo sentimos, no pudimos encontrarte en nuestra base de datos.</p>
  <form>
    <input type="button" value="Regresar" onclick="history.back()" class="btn btn-outline-secondary">
  </form>
</div>
<%- include("partials/footer"); -%>
