<%- include("partials/header"); -%>
    <div class="form-signin">
      <h2>Actualizar</h2>
      <p>Si deseas cambiar la hora en que recibes tu recordatorio ingresa los siguientes datos:</p>
      <form action="/update" method="post">
        <div class="row">
          <div class="col-sm-12">
            <label for="validationDefault02" class="form-label">Código del país</label>
            <%- include("partials/country_codes"); -%>
          </div>
          <div class="col-sm-12">
            <label for="validationDefault03" class="form-label">Tu número celular</label>
            <input name="number" type="text" class="form-control" placeholder="ej: 3105554433" id="validationDefault03" required>
          </div>
        </div>
        <label for="validationDefault04" class="form-label">Hora del recordatorio diario</label>
        <input type="time" name="time" class="time" id="validationDefault04" value="<%= time %>" required>
        <button type="sumbit" name="button" class="btn btn-outline-secondary">Actualizar</button>
      </form>
    </div>
<%- include("partials/footer"); -%>
